name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-24.04

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install check doxygen

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: "recursive"

      - name: Configure
        run: cmake -Bbuild

      - name: Build
        run: cmake --build build -j

      - name: Upload libafs
        uses: actions/upload-artifact@v4
        with:
          name: libafs
          path: build/libafs.a

      - name: Upload tool binaries
        uses: actions/upload-artifact@v4
        with:
          name: tools
          path: |
            build/afstest
            build/assemblytool

      - name: Test
        working-directory: ./build
        run: ./afstest

      # TODO: enable when we have testdata for a controlframe v3 or v4 or v5 or v6 or v7
      # - name: Test assemblytool
      #   run: ./tests/assemblytool/assemblytool -i /tmp/unboxing/tests/testdata/4kv6_*d.raw -s 4096 2160 -is_raw -read 0-2
