name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build & Test
    strategy:
      fail-fast: false
      matrix:
      os: [ubuntu-24.04, windows-2025]
      include:
        - os: ubuntu-24.04
          configure: cmake -DCMAKE_BUILD_TYPE=Debug -Bbuild
          build: cmake --build build -j
          artifact_name: afs-debug-x86_64-linux
          artifacts: |
            build/libafs.a
            build/afstest
            build/assemblytool
        - os: windows-2025
          configure: cmake -Bbuild
          build: cmake --build build -j
          artifact_name: afs-debug-x86_64-win32
          artifacts: build/Debug/*

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install dependencies
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: |
          sudo apt-get update
          sudo apt-get -y install check doxygen

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: "recursive"

      - name: Configure
        run: ${{ matrix.configure }}

      - name: Build
        run: ${{ matrix.build }}

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ matrix.artifacts }}

      - name: Upload tool binaries
        uses: actions/upload-artifact@v4
        with:
          name: tools
          path: |
            build/afstest
            build/assemblytool

      - name: Test
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        working-directory: ./build
        run: ./afstest

      # TODO: enable when we have testdata for a controlframe v3 or v4 or v5 or v6 or v7
      # - name: Test assemblytool
      #   run: ./tests/assemblytool/assemblytool -i /tmp/unboxing/tests/testdata/4kv6_*d.raw -s 4096 2160 -is_raw -read 0-2
